
.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.item.selected p {
    text-decoration: line-through;
}

.item p {
    margin: 0;
    flex: 2 1 auto;
    text-align: left;
    padding: 0 5px;
    text-transform: capitalize;
}

.item span {
    width: 21px;
}

button {
    color: #fff;
    border: none;
    background: #dc3545;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    padding: 0 10px;
}